/*importando font do google*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*cor que vao usar mais*/
:root{
    --bg-gray: #ddd;
    --color-primary:#1565C0;
    --color-primary-nav: #000000;
    --white: #fff;
    --text-gray: #4a4a4a;
    --text-light-gray: #aaa;
}

/*Aplicando em todos*/
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*background da pagina*/
html, body{
    background-image: url("../img/dualshock-4-wireless-controller-playstation-4-controller-4800x2700-1561.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   
}

/*configuraçao do header*/
header{
    background-color: var(--color-primary-nav);
    color: #fff;
}

/*alinhando no centro*/
nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

/**/
a, a:hover{
    text-decoration: none;
    color: unset;
}

/*Configuraçao nav*/
.rockgames-contact-container{
    display: flex;
    align-items: center; 
}

.rockgames-contact-logo{
    display: flex;
    align-items: center;
    
}
.rockgames-contact-logo h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}
.rockgames-contact-logo{
    margin-right: 5px;
}

/*Configuraçao da nav que tem a img*/
.rockgames-contact-container{
    margin-right: 5px;
    justify-content: space-between;
}

.rockgames-contact-container a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/*Configurando gif de aviso*/
.aviso h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.aviso h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.aviso2 h4{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.aviso2 h2{ 
    text-align: center;
}

.aviso3 h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #283593;
}

.aviso img.imagem{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.linguagem h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.span-aviso {
    color: #15b137;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.span-aviso2 {
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
   
}

address{
    margin:0;
}

/*card configuraçao*/
.rockgames-card{
    padding: 0 10px;
}
.rockgames-card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.rockgames-card-list{
    padding: 0 10px;
}
.rockgames-card-description{
    background-color: var(--white);
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 8px 8px;
    height: 90px;
}

.rockgames-card-description h3{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.rockgames-card-description-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Botao Download*/
.rockgames-btn, rockgames-btn:hover{
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*nomes dos jogos*/
.rockgames-card-description h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;   
}
/*------------------------------------------------------------------------------*/
/*Menu*/
body, ul{
    margin: 0px;
    padding: 0px;
}

#header-ham{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
.menu {
    margin: 20px;
    -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
    transition: color 1s; /* For modern browsers */
}
li:hover {
    color: #8f18ff;
}

#menu a{
    display: block;
    padding: .5rem;
    font-family: 'Times New Roman', Times, serif'
}

/*btn-mobile*/
#btn-mobile{
    display: none;
}

/*mostrar o menu de acordo com a tela*/
@media (max-width:500px){
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--color-primary-nav);
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        
    }

    #nav-ham.active #menu{
        height: calc(50vh - 70px) ;
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    /*botao menu*/
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: #fff;
        gap: .5rem;
        
    }

    #hamburger{
        display: block;
        border-top: 2px solid;
        width: 20px;
        margin-top: 5px;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    /*tranformando o menu hamburger em X*/
    #nav-ham.active #hamburger{
        border-top-color: transparent;
    }

    #nav-ham.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav-ham.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
